<div class="hero-form">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput />
  </mat-form-field>

  <div class="hero-form__powerstats">
    <h2 class="title">Estadísticas</h2>
    <div class="details">
      @for (item of [1,2,3,4,5,6]; track item) {
      <div class="powerstat-header">
        <label id="example-name-label" class="example-name-label">Value</label>
        <label class="example-value-label">{{ slider.value }}</label>
      </div>
      <mat-slider
        [max]="100"
        [min]="0"
        [step]="1"
        [discrete]="true"
        [showTickMarks]="true"
      >
        <input matSliderThumb [(ngModel)]="value" #slider />
      </mat-slider>
      }
    </div>
  </div>

  <mat-form-field>
    <mat-label>Primera aparición</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Publicador</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="food">
      @for (food of foods; track food) {
      <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Biografía</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <div class="hero-form__actions">
    <button class="btn" mat-flat-button>Cancelar</button>
    <button class="btn" mat-flat-button>Aceptar</button>
  </div>
</div>
