<form [formGroup]="heroForm" (ngSubmit)="onSubmit()" class="hero-form">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" />
    @if (heroForm.get('name')?.hasError('required')) {
    <mat-error> El nombre es requerido </mat-error>
    } @if (heroForm.get('name')?.hasError('minlength')) {
    <mat-error> El nombre debe tener al menos 2 caracteres </mat-error>
    }
  </mat-form-field>
  <div class="hero-form__powerstats" formGroupName="powerstats">
    <h1>{{ formValid() }}</h1>
    <h2 class="title">Estadísticas</h2>
    <div class="details">
      @for (powerstat of powerstatConfigs; track powerstat.key) {
      <div class="powerstat-item">
        <div class="powerstat-header">
          <label class="example-name-label">{{ powerstat.label }}</label>
          <label class="example-value-label">
            @switch (powerstat.key) { @case ('intelligence') {
            {{ intelligence() }} } @case ('strength') { {{ strength() }} } @case
            ('speed') { {{ speed() }} } @case ('durability') {
            {{ durability() }} } @case ('power') { {{ power() }} } @case
            ('combat') { {{ combat() }} } }
          </label>
        </div>
        <mat-slider
          class="powerstat-slider"
          [max]="100"
          [min]="0"
          [step]="1"
          [discrete]="true"
          [showTickMarks]="true"
        >
          <input matSliderThumb [formControlName]="powerstat.key" />
        </mat-slider>
      </div>
      }
    </div>
  </div>
  <mat-form-field>
    <mat-label>Primera aparición</mat-label>
    <input matInput formControlName="firstAppearance" />
    @if (heroForm.get('firstAppearance')?.hasError('required')) {
      <mat-error>
          La primera aparición es requerida
        </mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Publicador</mat-label>
    <mat-select formControlName="publisher">
      @for (publisher of publishers; track publisher.value) {
      <mat-option [value]="publisher.value">
        {{ publisher.viewValue }}
      </mat-option>
      }
    </mat-select>
    @if (heroForm.get('publisher')?.hasError('required')) {
    <mat-error> Selecciona un publicador </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Biografía</mat-label>
    <textarea
      matInput
      formControlName="biography"
      rows="4"
      placeholder="Escribe la biografía del héroe..."
    ></textarea>

    @if (heroForm.get('biography')?.hasError('required')) {
    <mat-error> La biografía es requerida </mat-error>
    } @if (heroForm.get('biography')?.hasError('minlength')) {
    <mat-error> La biografía debe tener al menos 10 caracteres </mat-error>
    }
  </mat-form-field>

  <div class="hero-form__actions">
    <button class="btn" mat-flat-button>Cancelar</button>
    <button type="submit" class="btn" mat-flat-button [disabled]="!formValid()">Aceptar</button>
  </div>
</form>
