<mat-card class="heroe-card" appearance="raised">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{ hero().name }}</mat-card-title>
    <mat-card-subtitle>{{ hero().publisher }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    [src]="hero().image"
    [alt]="`Portada de ${hero().name}`"
    (click)="goHeroDetail()"
  />
  <mat-card-content>
    <p class="heroe-card__biography">{{ hero().biography }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="goEditHero()">Editar</button>
    <button mat-button (click)="openDialog()">Eliminar</button>
  </mat-card-actions>
</mat-card>
