.home-page {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;

    &__header {
        display: flex;
        justify-content: space-between;

        > * {
            flex: 1;
        }

        .btn__add {
            display: flex;
            justify-content: flex-end;
        }
    }
}