.home-page {
    padding: 2rem;
    &__header {
        display: flex;
        justify-content: space-between;

        > * {
            flex: 1;
        }

        .btn__add {
            display: flex;
            justify-content: flex-end;
        }
    }
}