<div class="home-page">
  <div class="home-page__header">
    <app-search-box (onSearchChange)="onSearchChange($event)"></app-search-box>
    <div class="btn__add">
      <button mat-fab [extended]="!isMobile()" (click)="goCreateHero()">
        <mat-icon>add</mat-icon>
        @if (!isMobile()) {
        <span>Nuevo</span>
        }
      </button>
    </div>
  </div>
  <div class="home-page__heroes">
    <app-heroes-list [heroes]="filteredHeroes()"></app-heroes-list>
  </div>
  <div class="home-page__pagination">
    <app-pagination></app-pagination>
  </div>
</div>
